@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#f8f9fa] bg-[#001219];
}

/* Стили для изображения */
.product-image {
  width: 100%;   /* Ширина изображения растягивается на весь доступный контейнер */
  height: 192px; /* Фиксированная высота для изображения */
  object-fit: cover; /* Сохраняет пропорции изображения, заполняя контейнер */
}

/* Popup стили */
.leaflet-popup-content-wrapper {
  background-color: #001219;
  color: #f8f9fa;
  border: 1px solid #e63946;
  border-radius: 8px;
  padding: 8px;
}

.leaflet-popup-tip {
  background-color: #001219;
}

.menu-open #map {
  display: none; /* Скрываем карту, когда меню открыто */
}
